
<html>
<head>
    <title>QA DEMO</title>
</head>
<body>
    <form method="post" action="/">
        <fieldset>
            <legend><b><font size=4>输入问题query&自定义evidence</font></b> </legend>
            <div>
                <label for="query_id">输入问题query:</label>
                <input name="input_query" id="query_id" type="text" value="NO INPUT">
            </div>
            <div>
                <label for="self_evid_id">自定义evidence:</label>
                <input name="self_evi" id="self_evid_id" type="text" value="NO INPUT">
            </div>
            <div>
                <input type="submit" value="确定">
            </div>
	</fieldset>
        <fieldset>
            <legend><b><font size=4>BaiDu抓取的evidences </font></b></legend>
            <div>
		<textarea name="BD_evidences" style="width:400px;height:80px;">NO INPUT发斯蒂芬是多少</textarea>
            </div>
        </fieldset>
        <fieldset>
            <legend><b><font size=4>本地检索的evidences</font></b></legend>
            <div>
		<textarea name="LC_evidences" style="width:400px;height:80px;">NONE</textarea>
            </div>
        </fieldset>
        <fieldset>
            <legend><b><font size=4>最终选取的evidences</font></b></legend>
            <div>
		<textarea name="FN_evidences" style="width:400px;height:80px;">NO INPUT发斯蒂芬是多少</textarea>
            </div>
        </fieldset>
        <fieldset>
            <legend><b><font size=4>答案以及tagging结果分析</font></b> </legend>
            <div>
		<label for="at_id">tag答案</label>	
		<textarea name="answer" id="at_id" style="width:600px;height:30px;">NONE</textarea>
            </div>
	    <div>
	        <label for name="tag_id">tag结果</label>	
		<textarea name="tag" id="tag_id" style="width:600px;height:30px;">NONE</textarea>
	    </div>
        </fieldset>
     </form>
</body>
</html>
